@model SistemaVotacion.Modelos.ProcesoElectoral

@{
    ViewData["Title"] = "Eliminar Proceso Electoral";
}

<h1>Eliminar Proceso Electoral</h1>

<h3>¿Está seguro que desea eliminar este registro?</h3>

<div>
    <h4>Proceso Electoral</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.NombreProceso)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NombreProceso)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FechaInicio)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FechaInicio)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FechaFin)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FechaFin)</dd>

        <dt class="col-sm-2">Tipo de Proceso</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.IdTipoProceso)</dd>
    </dl>

    <form asp-action="DeleteProcesoElectoral" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Volver a la Lista", "ListProcesoElectoral", null, new { @class = "btn btn-secondary" })
    </form>
</div>
