@model SistemaVotacion.Modelos.PreguntaConsulta

@{
    ViewData["Title"] = "DetailsPreguntaConsulta";
}

<h1>DetailsPreguntaConsulta</h1>

<div>
    <h4>PreguntaConsulta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextoPregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextoPregunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPregunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProceso)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
