@model SistemaVotacion.Modelos.Multimedia

@{
    ViewData["Title"] = "Detalles Multimedia";
}

<h1>Detalles Multimedia</h1>

<div>
    <h4>Multimedia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrlFoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UrlFoto)
            @if (!string.IsNullOrEmpty(Model.UrlFoto))
            {
                <div class="mt-2">
                    <img src="@Model.UrlFoto" alt="Vista previa" style="max-width:400px; max-height:400px;" />
                </div>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCandidato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCandidato)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdLista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdLista)
        </dd>
    </dl>
</div>

<div class="mt-3">
    @Html.ActionLink("Editar", "EditMultimedia", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    <a asp-action="ListMultimedia" class="btn btn-secondary">Volver a la lista</a>
</div>
