@model IEnumerable<SistemaVotacion.Modelos.Lista>

@{
    ViewData["Title"] = "ListLista";
}

<h1>ListLista</h1>

<p>
    <a asp-action="CreateLista">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.NombreLista)</th>
            <th>@Html.DisplayNameFor(model => model.NumeroLista)</th>
            <th>Proceso Electoral</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.NombreLista)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroLista)</td>
                <td>@item.Proceso?.NombreProceso</td> 
                <td>
                    @Html.ActionLink("Edit", "EditLista", new { id = item.Id }) |
                    @Html.ActionLink("Details", "DetailsLista", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteLista", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
